<!-- 
<header>
  <div>
    <a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">
    {% assign owner_first_name = site.owner | split: " " %}
    <h1>{{ owner_first_name[0] | downcase }}@kampus:~$</h1>
    </a>
    <div class="header-links">
      {% include links.html %}
    </div>
  </div>
</header>
-->

<header>
    {% assign owner_first_name = site.owner | split: " " %}
    <h1 class="site-title">{{ owner_first_name[0] | downcase }}</h1>
    <div class="site-subtitle">A blog dedicated for Raihan Julyandri.</div>
</header>

<nav class="nav-container">
    {% include links.html %}
</nav>
