<a href="{{ "/" | prepend: site.baseurl | replace: '//', '/' }}">#home</a>
<a href="{{ "/tags/blog" | prepend: site.baseurl | replace: '//', '/' }}">#blog</a>
<a href="{{ "/archive" | prepend: site.baseurl | replace: '//', '/' }}">#archives</a>
<a href="{{ "/tags/ctf" | prepend: site.baseurl | replace: '//', '/' }}">#ctf</a>
<a href="{{ "/halaman-pertama" | prepend: site.baseurl | replace: '//', '/' }}">#about_me</a>
<a href="{{ "/tags/cv" | prepend: site.baseurl | replace: '//', '/' }}">#cv</a>
