<!DOCTYPE html>
<html>
{% include head.html %}

<body>
  <div class="container">
    {% include header.html %}
    <section id="main_content">
      {{ content }}
    </section>
  </div>

  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="{{ '/' | relative_url }}">&lt;&lt;</a>
    {% else %}
      <a href="{{ paginator.previous_page_path | relative_url }}">&lt;&lt;</a>
    {% endif %}
  {% else %}
    <span class="disabled">&lt;&lt;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <span class="active">{{ page }}</span>
    {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">&gt;&gt;</a>
  {% else %}
    <span class="disabled">&gt;&gt;</span>
  {% endif %}
  {% include footer.html %}

  {% if site.google_analytics %}
    {% include analytics.html %}
  {% endif %}
</body>

</html>